.contacts {
  margin-top: 80px;
}

.contactsSwitchWrap {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 64px;
}
.switchBtn {
  width: 580px;
  height: 42px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #f9b300;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s;
}
.activeBtn {
  border: 1px solid #f9b300;
  background: #fff7e1;
  transition: all .2s;
}
.contactMapWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactBlockWrap {
}
.contactBlock {
  display: flex;
  flex-direction: column;
}
.contactUsTitle {
  font-weight: 900;
  font-size: 22px;
}
.contactPhone {
  margin: 8px 0px 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #000;
}
.contactMail {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #000;
}
.address {
  margin: 20px 0 43px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  max-width: 379px;
}
.boxAddress {
  margin-top: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}
.mapContainer {
  width: 680px;
  height: 372px;
}
.mapContainer iframe {
  width: 100%;
  height: 100%;
}
.ourStoreTitle {
  margin-bottom: 20px;
}
.ourStoreAddress {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}
.ourStoreTitlePt {
  margin-top: 25px;
}
